@import 'https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat&display=swap';
@font-face{
	font-family: Amsdam;
	src: url(../../fonts/AmsdamFF/AmsdamRegular.ttf);
	font-display: swap;	
}
.header{
	color: #757575;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 400;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	> .title{
		margin: 0 auto;
		width: 75%;
		display:-webkit-box;
		display:flex;
		position: relative;
		-webkit-box-pack: justify;
		        justify-content: space-between;
		padding: 0 15px;
		@media screen and(max-width: 480px){
			width: 100%;
		}
		.logo{
			padding: 0 0 0 50px;
			background: url(../../img/Icon_Logo.png) no-repeat center left;
		}
		.nav{
			display: -webkit-box;
			display: flex;
			-webkit-box-pack: justify;
			        justify-content: space-between;
			font-size: 0;
			letter-spacing: 0;
			&__item{
				text-decoration: none;
				display: inline-block;
				color: #aaaaaa;
				font-size: 12px;
				text-transform: uppercase;
				&:not(:last-child){
					margin-right: 15px;
				}
			}
			@media screen and(max-width: 900px) {
				display: none;
			}
		}
		.open-nav{
			background-color: transparent;
			border: none;
			opacity: .6;
			height: 100%;
			align-self: center;
			width: 30px;
			@media screen and(min-width: 900px){
				display: none;
			}
		}
		.socialnetworks{
			display: -webkit-box;
			display: flex;
			-webkit-box-align: center;
			        align-items: center;
			&__item{
				&:nth-child(1)::before{
					content: url(../../img/facebook-title.png);
					margin-right: 10px;
				}
				&:nth-child(2)::before{
					content: url(../../img/Tweter-title.png);
					margin-right: 10px;
				}
				&:nth-child(3)::before{
					content: url(../../img/Behance-title.png);
				}
			}
			@media screen and(max-width: 900px) {
				margin-left: auto;
				margin-right: 20px;
			}
		}
	}
	.mobile-nav{
		display: flex;
		width: 100%;
		max-height: 0;
		transition: .5s;
		overflow: hidden;
		flex-flow: column nowrap;
		align-items: center;
		margin: 0 auto;
		&__item{
			text-decoration: none;
			color: #aaa;
			font-family: Montserrat;
			font-size: 12px;
			font-weight: 400;
			line-height: 50px;
			text-transform: uppercase;
		}
	}
	.wellcome{
		display: -webkit-box;
		display: flex;
		position: relative;
		padding: 0 12.5%;
		background: url(../../img/welcome-img.jpg) no-repeat center fixed;
		background-size: cover;
		min-height: 500px;
		.control{
			position: absolute;
			top: 50%;
			cursor: pointer;
			width: 34px;
			height: 34px;
			-webkit-transform: translate(0, -50%);
			        transform: translate(0, -50%);
			background: url(../../img/header_control-slider.png) no-repeat center;
		}
		.control-1{
			left:calc(12.5% + 15px);
			-webkit-transform: translate(0, -50%) rotate(-180deg);
			        transform: translate(0, -50%) rotate(-180deg);
			        @media screen and(min-width: 480px) and(max-width: 900px) {
			        	left: 10px;
			        }
			        @media screen and(max-width: 480px) {
			        	bottom: 10px;
			        }
		}
		.control-2{
			right: calc(12.5% + 15px);
			@media screen and(min-width: 480px) and(max-width: 900px) {
				right: 10px;
			}
			@media screen and(max-width: 480px) {
				bottom: 10px;
			}
		}
		.included{
			margin: auto;
			text-align: center;
			.title{
				color: #ffffff;
				font-family: Amsdam;
				font-size: 36px;
				position: relative;
				line-height: 100px;
				margin-top: 0;
				font-weight: 400;
				white-space: nowrap;
				text-transform: uppercase;
				letter-spacing: 0.89px;
				@media screen and(max-width: 900px) {
					white-space: normal;
				}
				&::before{
					content: '';
					position: absolute;
					top: 0px;
					height: 6px;
					margin: 0 auto;
					left: 50%;
					transform: translate(-50%, 0);
					max-width: 300px;
					width: 100%;
					display: block;
					background: url(../../img/Line.png) repeat-x;
				}
				&::after{
					content: '';
					bottom: 0px; 
					height: 6px;
					margin: 0 auto;
					left: 50%;
					transform: translate(-50%, 0);
					max-width: 300px;
					width: 100%;
					position: absolute;
					display: block;
					background: url(../../img/Line.png) repeat-x;
				}
			}
			.only-bottom-line::before{
				display: none;
			}
			.sub-title{
				color: #ffffff;
				font-family: "Crimson Text";
				font-size: 14px;
				font-weight: 400;
				text-transform: none;
				line-height: 50px;
				letter-spacing: 1.4px;
			}
			.btn{
				color: #ffffff;
				font-family: Montserrat;
				font-size: 15px;
				font-weight: 400;
				width: 50%;
				margin: auto;
				cursor: pointer;
				-webkit-appearance: none;
				   -moz-appearance: none;
				        appearance: none;
				line-height: 50px;
				border: 2px solid #f2f2f2;
				letter-spacing: 1.5px;
				position: relative;
				-webkit-transition: .4s;
				transition: .4s;
				outline: 0px solid #fff;
				&:hover{
					box-shadow: 0 0 5px 0 #fff,
					inset 0 0 0 5px #fff;
				}
				&::after{
					content: url(../../img/Arrow-down-for-btn.png);
					left: 50%;
					-webkit-transform: translate(-50%, 0);
					        transform: translate(-50%, 0);
					position: absolute;
					bottom: -130%;
				}
			}
		}
	}
}	
.footer{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: (1fr)[12];
	grid-template-columns: repeat(12, 1fr);
	-webkit-column-gap: 30px;
			-moz-column-gap: 30px;
	     column-gap: 30px;
	position: relative;
	-webkit-box-align:center;
	        align-items:center;
	padding: 0 calc(12.5% + 15px);
	background:#292929;
	@media screen and(max-width: 900px) {
		display: block;
	}
	@media screen and(max-width: 480px) {
		padding-right: 0;
		padding-left: 0;
	}
	input{
		background-color: transparent;
		padding: 22px;
		color: #949494;
		font-family: "Crimson Text";
		font-size: 14px;
		font-style: italic;
		line-height: 20.31px;
		display: block;
		letter-spacing: 1.4px;
		border:none;
		border: 2px solid #464646;
		@media screen and(max-width: 900px) {
			width: 100%;
			margin: 20px 0;
		}
		&#name{
			-ms-grid-column: 5;
			-ms-grid-column-span: 4;
			grid-column: 5 / span 4;
			-ms-grid-row: 2;
			grid-row: 2;
		}
		&[type="email"]{
			-ms-grid-column: 9;
			-ms-grid-column-span: 4;
			grid-column: 9 / span 4;
			-ms-grid-row: 2;
			grid-row: 2;
		}
		&[type="tel"]{
			-ms-grid-column: 5;
			-ms-grid-column-span: 4;
			grid-column: 5 / span 4;
			-ms-grid-row: 3;
			grid-row: 3;
		}
		&[type="text"]{
			-ms-grid-column: 9;
			-ms-grid-column-span: 4;
			grid-column: 9 / span 4;
			-ms-grid-row: 3;
			grid-row: 3;
		}
	}
	textarea{
		resize: none;
		padding: 22px;
		color: #949494;
		font-family: "Crimson Text";
		font-size: 14px;
		font-style: italic;
		line-height: 20.31px;
		letter-spacing: 1.4px;
		background-color: transparent;
		border:none;
		border: 2px solid #464646;
		-ms-grid-column: 5;
		-ms-grid-column-span: 8;
		grid-column: 5 / span 8;
		-ms-grid-row: 4;
		grid-row: 4;
		@media screen and(max-width: 900px) {
			display: block;
			width: 100%;
			margin-bottom: 20px;
		}
	}
	button{
		-ms-grid-column: 5;
		    grid-column-start: 5;
		-ms-grid-row: 5;
		grid-row: 5;
		box-shadow:0;
		outline: none;
		-ms-grid-column-span: 2;
		grid-column-end: span 2;
		border:none;
		width: 135px;
		height: 39px;
		cursor: pointer;
		background-color: #464646;
		color: #e3e3e3;
		font-family: Montserrat;
		font-size: 13px;
		font-weight: 400;
		letter-spacing: 1.47px;
		-webkit-appearance: none;
		   -moz-appearance: none;
		        appearance: none;
	}
	.info{
		-ms-grid-row: 2;
		-ms-grid-row-span: 4;
		-ms-grid-column: 1;
		-ms-grid-column-span: 4;
		grid-area: 2 / 1 / span 4 /span 4;
		color: #949494;
		font-family: "Crimson Text";
		font-size: 14px;
		-ms-grid-row-align: stretch;
		    align-self: stretch;
		font-weight: 400;
		line-height: 20.32px;
		letter-spacing: 1.4px;
		h2{
			color: #e3e3e3;
			font-family: Montserrat;
			font-size: 13px;
			font-weight: 400;
			line-height: 18px;
			text-transform: uppercase;
			letter-spacing: 1.47px;
		}
		.discription{
			margin: 0 0 40px 0;
		}
		.adress{
			margin: 0 0 36px 0;
			h2{
				margin: 0 0 28px 0;
			}
		}
		.socialnetworks{
			display: -webkit-box;
			display: flex;
			@for $i from 1 to 3{
				.item-#{$i}{
					margin: 0 10px 0 0;
				}
			}
			.item-1::before{
				content: url(../../img/Facebook-title.png);
			}
			.item-2::before{
				content: url(../../img/Tweter-title.png);
			}
			.item-3::before{
				content: url(../../img/Behance-title.png);
			}
		}
		.email{
			color: #e3e3e3;
			font-family: Montserrat;
			font-size: 13px;
			font-weight: 400;
			word-wrap: break-word;
			line-height: 18px;
			margin: 0 0 38px 0;
			text-transform: uppercase;
			letter-spacing: 1.47px;
		}
	}
	.title{
		color: #ffffff;
		font-family: Montserrat;
		font-size: 18px;
		-ms-grid-row: 1;
		-ms-grid-row-span: 1;
		-ms-grid-column: 1;
		-ms-grid-column-span: 12;
		grid-area: 1 / 1 / span 1/ span 12;
		font-weight: 700;
		height: 100px;
		-ms-grid-row-align: center;
		    align-self: center;
		line-height: 100px;
		padding: 0 0 0 50px;
		text-transform: uppercase;
		letter-spacing: 1.8px;
		background: url(../../img/Icon_Logo.png) no-repeat left center;
	}
	.foot{
		-ms-grid-row: 6;
		-ms-grid-row-span: 1;
		-ms-grid-column: 1;
		-ms-grid-column-span: 12;
		grid-area: 6 / 1 / span 1 / span 12;
		padding: 40px 0;
		border-top: 2px solid #3e3e3e;
		color: #949494;
		font-family: "Crimson Text";
		font-size: 14px;
		margin: 60px 0 0 0;
		font-style: italic;
		line-height: 20.31px;
		letter-spacing: 1.4px;
	}
}

